body{
    background-color: rgba(253, 37, 120, 0.72);   
}

h1{
    color: black;
    background-color: whitesmoke;
}

#show_sketch{
    float: right;
}

canvas{
    border: 5px cornsilk;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shadow: 1px 1px 38px darkgray;}
    to {box-shadow: 1px 1px 38px lightgray;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}
